* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family:fantasy; 
}

.header{
  border-bottom: 3px solid #000000;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}

.navbar {
  background-color: rgb(42, 0, 77);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 75px;
  font-weight: 600;
  color: #c24a9a;
  letter-spacing: 2px;
  margin-left: -5px;
}

.logo-img{
  width:100px;
  margin-left: 30px;
  margin-bottom: 5px;
}

li {
    list-style: none;
}

.nav-link-edited{
  font-size: 1.8rem;
  font-weight: 100;
  color: #aa207c;
  text-decoration: underline;
  margin-top: 10%;
  margin-right: 2rem;
}

.btn{
  margin-left: 35px;
  margin-top: 25px;
}

.card{
  margin-left: 35px;
}

.card-title{
  text-decoration: underline;
  margin-left: -15px;
  letter-spacing: 1px;

}

.card-text{
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: -15px;
  margin-right: 15px;
}

#start-game{
  color:rgba(252,70,107,1);
  background-color: darkslateblue;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border:2px solid rgba(252,70,107,1);
  border-radius: 3px;
  text-decoration: underline;
  padding: 8px;
  margin-left: 44%;
  margin-top: 15px;
  width: 150px ;
} 

.game-play{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
} 

#game-box {
  border: 7px solid rgb(2, 2, 2);
  background-color: rgba(0, 245, 33, 0.6) ;
  height: 100%;
  border-radius: 7px;
}

#game-canvas{
  margin-left: 175px;
  margin-right: 175px;
  padding-top: 16px;
  padding-bottom: 63px;
}