@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*  font-family: 'Roboto', sans-serif;*/
}

body, html {
  height: 100%;
  font-family:fantasy ; 
}

.header{
  border-bottom: 2px solid #E2E8F0;
}

.navbar {
  background-color: rgb(42, 0, 77);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

li {
    list-style: none;
    text-decoration: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;

}

.nav-item {
  margin-left: 3rem;
}

.nav-link{
  font-size: 1.8rem;
  font-weight: 400;
  color: #4a25af;
}


.nav-logo {
  font-size: 65px;
  font-weight: 500;
  color: #c24a9a;
}

.logo-img{
  width:100px;
  margin-left: 25px;
}


.hidden-text{
  display: none;
}

.int-text:hoover .hidden-text{
  color:black;
  display:block;
}


.game-play{
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://files.aredacao.com.br/upload/content/cJp1I3m9jfBhnh8mXBiLgP4GqZZVqzzhuMAhj-UL");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    text-align: center;
    align-items: center;*/
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
} 

  #game-box {
    border: 7px solid rgb(42, 0, 77);
    background-color: rgba(0, 245, 33, 0.6) ;
    height: 100%;
    border-radius: 7px;
     /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://files.aredacao.com.br/upload/content/cJp1I3m9jfBhnh8mXBiLgP4GqZZVqzzhuMAhj-UL"); */
    
  }

  #game-canvas{
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 115px;
    padding-bottom: 20px;
  }